.game-container {
    height: 100vh;
    position: relative;
}
.game-container.one-players > .player {
    height: 100%;
    width: 100%;
}
.game-container.two-players  > .player {
    height: 75%;
    width: 100%;
}
.game-container:is(.two-players, .three-players, .four-players)  > .player {
    height: 60%;
    width: 100%;
}

.game-container > .game-indications {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.player {
    overflow: hidden;
    position: absolute;
    user-select: none;
    pointer-events: none;
}
.player.playing {
    z-index: 100;
    user-select: all;
    pointer-events: all;
}

.player:nth-of-type(1) {
    --_border-color: var(--red);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.player:nth-of-type(2) {
    --_border-color: var(--blue);
    transform: rotate(180deg) translateX(50%);
    left: 50%;
    top: 0;
}
.player:nth-of-type(3) {
    --_border-color: var(--yellow);
    bottom: 0;
    left: -50%;
    transform: rotate(90deg) translate(-20vh, -50%);
}

.player:nth-of-type(4) {
    --_border-color: var(--green);
    bottom: 0;
    right: -50%;
    transform: rotate(-90deg) translate(20vh, -50%);
}




.player-infos {
    display: grid;
    place-items: center;
}

.player-infos > div {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
}

.player-infos h2 {
    font-size: clamp(1.6rem, 1.6rem + 5vh, 7rem);
}


.player-infos article {
    display: grid;
    place-items: center;
    gap: 1rem;
    font-size: clamp(1.3rem, 1.3rem + 1.95vh, 5rem);
}

.player-infos > div h3 {
    opacity: .45;
}

.player > .player-infos {
    margin: 10vh auto 0 auto;
}

.player > .player-infos > div {
    padding: 4.25rem 3rem;
}

.player > .player-board {
    max-height: 110%;
    aspect-ratio: 1/1;
    height: 110%;
    max-width: 90%;
    position: absolute;
    display: grid;
    place-items: center;
    clip-path: circle(50%);
    bottom: 0;
    transform: translate(-50%, 55%);
    left: 50%;
}
.game-container:not(.one-players) .player::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 30%;
    width: 0; 
    height: 0; 
    transform: translate(-50%);
    border-left: 3.5rem solid transparent;
    border-right: 3.5rem solid transparent;
    border-top: 5.5rem solid var(--_border-color);
    filter: brightness(.35);
    opacity: 0;
    
    transition: all .35s ease-in-out;
}

.game-container.two {
    
}

.player-board .player-circle {
    background-color: var(--primary-color);
    height: 75%;
    aspect-ratio: 1/1;
    clip-path: circle(50%);
    padding: 5% 5rem 50% 5rem;
    display: grid;
    place-items: center;
    box-shadow: inset 0 0 139px var(--secondary-color-variantS);
}
.player-circle > .player-infos .over {
    font-size: clamp(1.25rem, 1.25rem + 1.75vh, 5rem);
    padding-bottom: .5rem;
}
.player-circle > .player-infos h3 {
    font-size: clamp(.8rem, .8rem + 1.55vh, 5rem);
}
.player-circle  .player-infos article {
    gap: .5rem;
} 

.player-board .player-buttons {
    position: absolute;
    inset: 0;
    z-index: -1;
}

.player-board button {
    background-color: var(--_button-color, white);
    position: absolute;
    height: 100%;
    width: calc(100% / var(--_number-of-buttons));
    bottom: 0;
    filter: brightness(.35);
    transition: filter .35s ease-in-out;
}   

.playing .player-board button:hover,
.game-container:not(.one-players) .playing::after,
.player-board button.activeColor {
    filter: brightness(1);
    opacity: 1;

}



.two-buttons .player-board button:nth-of-type(2) {
    transform: translateX(100%);
}


.four-buttons .player-board button:nth-of-type(1) {
    left: 0;
    transform: skew(25deg) rotate(-30deg) scale(1.5);
    transform-origin: left;
    z-index: 2
}

.four-buttons .player-board button:nth-of-type(2) {
    left: calc(100% / var(--_number-of-buttons));
    transform: rotateY(-287.5deg) rotateX(-320deg) skew(64deg) scale(40);
    transform-origin: left;
    z-index: 1;
}

.four-buttons .player-board button:nth-of-type(3) {
    left: calc(100% / var(--_number-of-buttons) * 2);
    transform: rotateY(287.5deg) rotateX(320deg) skew(-64deg) scale(40);
    transform-origin: left;
    z-index: 1;
}

.four-buttons .player-board button:nth-of-type(4) {
    left: calc(100% / var(--_number-of-buttons) * 3);
    transform: skew(-25deg) rotate(30deg) scale(1.5);
    transform-origin: right;
    z-index: 2;
}




.six-buttons .player-board button:nth-of-type(1) {
    left: 0;
    transform: skew(25deg) rotate(-30deg) scale(1.5);
    transform-origin: left;
    z-index: 3;
}

.six-buttons .player-board button:nth-of-type(2) {
    right: calc(100% + 100% / 6);
    transform: rotateY(277.5deg) rotateX(-400deg) skew(-35deg) scale(39);
    transform-origin: left;
    z-index: 2;
}

.six-buttons .player-board button:nth-of-type(3) {
    right: 149.75%;
    transform: rotateY(-0deg) rotateX(300deg) skew(360deg) scale(7);
    transform-origin: left;
    z-index: 1;
}

.six-buttons .player-board button:nth-of-type(4) {
    left: 149.75%;
    transform: rotateY(-0deg) rotateX(300deg) skew(360deg) scale(7);
    transform-origin: right;
    z-index: 1;
}
.six-buttons .player-board button:nth-of-type(5) {
    left: calc(100% + 100% / 6);
    transform: rotateY(277.5deg) rotateX(400deg) skew(35deg) scale(39);
    transform-origin: right;
    z-index: 1;
}

.six-buttons .player-board button:nth-of-type(6) {
    right: 0;
    transform: skew(-25deg) rotate(30deg) scale(1.5);
    transform-origin: right;
    z-index: 3;
}






.game-container>.game-indications {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}




.eight-buttons .player-board button:nth-of-type(1) {
    right: 124.75%;
    transform: rotateY(-45deg) rotateX(300deg) skew(360deg) scale(7);
    transform-origin: left;
    z-index: 5;
}
.eight-buttons .player-board button:nth-of-type(2) {
    right: 124.75%;
    transform: rotateY(-29deg) rotateX(300deg) skew(360deg) scale(7);
    transform-origin: left;
    z-index: 4;
}

.eight-buttons .player-board button:nth-of-type(3) {
    right: 124.75%;
    transform: rotateY(-14deg) rotateX(300deg) skew(360deg) scale(7);
    transform-origin: left;
    z-index: 3;
}

.eight-buttons .player-board button:nth-of-type(4) {
    right: 124.75%;
    transform: rotateY(-0deg) rotateX(300deg) skew(360deg) scale(7);
    transform-origin: left;
    z-index: 1;
}
.eight-buttons .player-board button:nth-of-type(5) {
    left: 124.75%;
    transform: rotateY(-0deg) rotateX(300deg) skew(360deg) scale(7);
    transform-origin: right;
    z-index: 1;
}

.eight-buttons .player-board button:nth-of-type(6) {
    left: 124.75%;
    transform: rotateY(14deg) rotateX(300deg) skew(360deg) scale(7);
    transform-origin: right;
    z-index: 3;
}
.eight-buttons .player-board button:nth-of-type(7) {
    left: 124.75%;
    transform: rotateY(29deg) rotateX(300deg) skew(360deg) scale(7);
    transform-origin: right;
    z-index: 3;
}

.eight-buttons .player-board button:nth-of-type(8) {
    left: 124.75%;
    transform: rotateY(45deg) rotateX(300deg) skew(360deg) scale(7);
    transform-origin: right;
    z-index: 5;
}

