.home {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
}

section.center {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 33vw;
}

/* : Logo  */

.circle {
    border-radius: 50%;

}

.animated-rgb.circle>div::before,
.animated-rgb.circle>div::after {
    inset: -5px;
    filter: blur(15px);
    animation-duration: 30s;
}

.logo {
    width: 20vw;
}

/* : Formulaire pour entrer le nombre de joueurs */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10vh;
}

form fieldset {
    margin: 5vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0;
    font-family: coda;
}



form label {
    font-style: italic;
    opacity: 0.8;
}

form fieldset>input[type="text"] {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: coda;
    text-transform: uppercase;
}

/* : Bouton pour augmenter le nombre de joueurs */
.svgNbPlayer {
    width: 5vw;
}

.nbplayerbutton {
    position: relative;
}

.nbplayerbutton>input[type="number"] {
    position: absolute;
    text-align: center;
    font-size: 20px;
    bottom: 0px;
    left: 60%;
    transform: translateX(-50%);
}

.nbplayerbutton>button {
    position: absolute;
    z-index: 5;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--primary-color);
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
}

.nbplayerbutton>button:first-of-type {
    left: -35px;
}

.nbplayerbutton>button:last-of-type {
    right: -35px;
}

/* : button jouer */

.play-button {
    font-size: 35px;
    font-weight: bold;
}

/* : all players input */
.allPlayerInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80vw;
}

.choiceDifficultyRadio,
.modal .modal-content .choiceDifficultyRadio {
    /* clear: both; */
    display: flex;
    margin: 5vh 0 2vh 0;

}

.radioButton {
    position: absolute;
    display: none;

    &+label {
        float: left;
        padding: .5em 1em;
        cursor: pointer;
        border: 2px solid;
        border-width: 1px;
        border-left: 0;
        border-right: 0;
        border-top: 0;
        margin-right: -1px;
        color: #fff;
        font-weight: bold;
        user-select: none;
    }

    &+label:first-of-type {
        border-color: var(--green);
        border-radius: 10px 0 0 10px;
    }

    &+label:nth-of-type(2) {
        border-color: var(--blue);
    }

    &+label:nth-of-type(3) {
        border-color: var(--yellow);
    }

    &+label:nth-of-type(4) {
        border-color: var(--red);
        border-radius: 0 10px 10px 0;
    }

    &:checked+label:first-of-type {
        background: var(--green);
    }

    &:checked+label:nth-of-type(2) {
        background: var(--blue);
    }

    &:checked+label:nth-of-type(3) {
        background: var(--yellow);
        color: #000;
    }

    &:checked+label:nth-of-type(4) {
        background: var(--red);
    }
}

.simple-keyboard {
    color: #fff;
    position: fixed;
    width: 50%;
    height: 30vh;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: .2s;
    z-index: 10;
    display: none;
}

.simple-keyboard.hg-theme-default {
    background-color: var(--grey);

}

.simple-keyboard>div {
    height: 100%;
}

.simple-keyboard .hg-rows .hg-row .hg-button {
    background-color: var(--primary-color);
}


.simple-keyboard>div>div>div {
    height: 6vh;
}

.simple-keyboard>div>div>div>div {
    height: 100% !important;
}

.simple-keyboard>div>div>div>div>span {
    font-size: 50px;
}