.retry {
    position: fixed;
    z-index: 100000000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    color: #fff;

}

.modal-content {
    margin: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.modal .scoreboard>div>div {
    grid-template-columns: repeat(4, 1fr);
}

.modal .modal-content .retryButtons {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.modal .modal-content .retryButtons > button {
    padding: 2vh;
    border: solid #fff 2px;
}