.scoreboard {
    margin: 15vh auto;
}

.scoreboard h3 {
    text-align: center;
    margin-bottom: 15px;
}

.scoreboard>div {
    display: grid;
    grid-template-columns: 1;
    gap: 10px;
    max-height: 30vh;
    overflow-y: scroll;
    padding-right: 10px;
}

.scoreboard>div>div {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
}

.scoreboard>div>div.scoreboardHead>span {
    font-weight: bold;
}


.scoreboard>div>div.scoreboardRow {
    position: relative;
    margin-bottom: 15px;
}

.scoreboard>div>div.scoreboardRow::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: -10px;
    left: 0;
    background: var(--linear);
    border-radius: 15px;
    /* z-index: -1; */
}